@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    font-family: "Rubik", sans-serif;
    background: #181a1b;
}

:root {
    --color-bg: #181a1b;
    --color-fg: white;
    --color-primary: #2b7bd3;
    --color-primary-75: rgba(43, 123, 211, 0.75);
}

#logout-button {
    width: 5%;
    height: 30px;

    font-size: 1.1rem;
    padding: 4px;
    float: right;

    border: 2px solid #e74c3c;
    border-radius: 5px;
    color: var(--color-fg);
    background: #e74c3c;
 }

#add-textfield {
    width: 35%;
    height: 15px;

    font-size: 1.3rem;
    padding: 5px;

    border: 2px solid var(--color-bg);
    border-radius: 10px;
    color: var(--color-bg);
    background: var(--color-fg);
}

#add-button {
    width: 5%;
    height: 30px;

    font-size: 1.1rem;
    padding: 4px;

    border: 2px solid var(--color-bg);
    border-radius: 10px;
    color: var(--color-bg);
    background: var(--color-fg);
}

#list {
    list-style: none;
    padding-left: 0;
}

#list li {
    width: 20%;
    border: 2px solid var(--color-fg);
    border-radius: 15px;

    padding: 0 10px 10px 10px;
    margin-top: 25px;

    background: var(--color-fg);
}

.todo-title {
    color: black;
}

.container {
    color: var(--color-fg);
}

.todo-button {
    width: 75px;
    height: 30px;
    font-size: 15px;

    border: 2px solid var(--color-fg);
    border-radius: 7px;
    color: var(--color-fg);
    background: var(--color-bg);

    margin-left: 20px;
}

.done {
    text-decoration: line-through;
}

#error {
    font-family: "Rubik", sans-serif;
    font-size: 18px;

    margin-left: 5px;

    color: red;
}

@media screen and (max-width: 1300px) {

    #logout-button {
        width: 8%;
    }

    #add-button {
        width: 7%;
    }

    #list li {
        width: 30%;
    }

}

@media screen and (max-width: 900px) {

    #logout-button {
        width: 8%;
        font-size: 1em;
    }

    #add-textfield {
        width: 60%;
    }

    #list li {
        width: 45%;
    }

}

@media screen and (max-width: 650px) {

    #logout-button {
        width: 12%;
    }

    #add-textfield {
        width: 60%;
    }

    #add-button {
        width: 10%;
    }

    #list li {
        width: 45%;
    }

}

@media screen and (max-width: 600px) {

    #add-button {
        width: 12%;
    }
}

@media screen and (max-width: 400px) {

    #logout-button {
        width: 15%;
        font-size: 0.8em;
        height: 25px;
    }

    #add-textfield {
        width: 75%;
    }

    #add-button {
        width: 15%;
    }


    #list li {
        width: 60%;
    }

    #error {
        font-size: 12px;
    }

}

@media screen and (max-width: 300px) {

    #logout-button {
        width: 22%;
        font-size: 0.8em;
        height: 25px;
    }

    #add-textfield {
        width: 65%;
    }

    #add-button {
        width: 20%;
    }

    #error {
        font-size: 10px;
    }

}