@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    font-family: "Rubik", sans-serif;
    background: #181a1b;
}

:root {
    --color-bg: #181a1b;
    --color-bg-10: rgba(24, 26, 27, 0.1);
    --color-fg: white;
    --color-primary: #2b7bd3;
    --color-primary-75: rgba(43, 123, 211, 0.75);
}

.container {
    border: 10px solid var(--color-fg);
    border-radius: 20px;
    height: 312px;
    width: 40%;
    background: var(--color-fg);

    margin: auto;
    margin-top: 10%;
}

.container img {
    height: 100%;
    width: 30%;
    border-radius: 20px;

    object-fit: cover;

    float: left;
}

.content {
    width: 69%;
    height: 312px;

    float: right;
}

.title {
    font-size: 2rem;

    float: left;
    margin: 37px 0 0 10px;
}

#error {
    font-size: 1.2rem;
    color: red;

    margin: 42px 0 0 13px;

    width: auto;
}

#username {
    width: calc(100% - 60px);
    height: 30px;

    margin: 25px 15px 0 15px;

    font-size: 1.5rem;
    padding: 5px;

    border: 2px solid var(--color-bg);
    border-radius: 10px;
    color: var(--color-bg);
    background: var(--color-fg);
}

#password {
    width: calc(100% - 60px);
    height: 30px;

    margin-left: 15px;
    margin-top: 10px;

    font-size: 1.5rem;
    padding: 5px;

    border: 2px solid var(--color-bg);
    border-radius: 10px;
    color: var(--color-bg);
    background: var(--color-fg);
}

#register {
    width: calc(100% - 45px);
    height: 40px;

    margin-left: 15px;
    margin-top: 10px;

    font-size: 1.4rem;
    padding: 5px;

    border: 2px solid var(--color-bg);
    border-radius: 10px;
    color: var(--color-bg);
    background: var(--color-fg);
}

#username:hover, #password:hover, #register:hover {
    background: var(--color-bg-10);
}

@media screen and (max-width: 1800px) {
    .container {
        width: 50%;
        height: 550px;

        margin-top: 5%;
    }

    .container img {
        width: 100%;
        height: 250px;
        float: none;

        display: block;
        margin: auto;
    }

    .content {
        float: none;
        width: 100%;
        height: calc(100% - 250px);
    }

}

@media screen and (max-width: 900px) {
    .container {
        width: 50%;
        height: 500px;

        margin-top: 5%;
    }

    .container img {
        width: 100%;
        height: 250px;
        float: none;

        display: block;
        margin: auto;
    }

    .content {
        float: none;
        width: 100%;
        height: calc(100% - 250px);
    }

    .title {
        font-size: 1.5rem;
    }

    #error {
        margin: 30px 0 0 13px;
        font-size: 1rem;
    }

    #username, #password {
        width: calc(100% - 50px);
        height: 20px;
        font-size: 1rem;
    }

    #register {
        width: calc(100% - 35px);
        height: 33px;
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 700px) {
    .container {
        width: 50%;
        height: 310px;

        margin-top: 5%;
    }

    .container img {
        height: 150px;
    }

    .title {
        font-size: 0.7rem;
        margin: 37px 0 0 5px;
    }

    #error {
        margin: 15px 0 0 5px;
        font-size: 0.5rem;
    }

    #username, #password {
        width: calc(100% - 20px);
        margin: 10px 15px 0 3px;
        height: 10px;
        font-size: 0.6rem;
        border-radius: 7px;
    }

    #register {
        width: calc(100% - 7px);
        height: 23px;
        font-size: 0.6rem;
        border-radius: 7px;
        margin-left: 3px;
    }

}
